<h1 style="text-align: center"><i class="fa fa-pencil" aria-hidden="true"></i> RSVP</h1>
<hr class="style-heart">

<div class="col-md-offset-3" >
	<%= render 'form', response: @response %>
</div>

<%= link_to 'Back', response_path(id: current_user.response.id) %>
