// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-nav {
	margin-left: -70px;
	margin-right: -70px;
	margin-top: -20px;
}

.index {
	text-align: center;
}

.table-head {
	font-weight: bold;
	font-size: 18px;
	margin-top: -30px;
}
