<h1 class="title">Menu</h1>
<hr class="style-heart">

<div class= "menu-container">
	<h3>Appetizers</h3>
	<p>Country Ham on a Garlic Cheese Biscuit</p>
	<p>Fried Green Tomatoes with Pimento Cheese Drizzle</p>

	<h3>Sides</h3>
	<p>Baby Greens with Candied Walnuts, Feta Cheese Champagne Apple Vinaigrette</p>
	<p>Lightly Seasoned Fresh Green Beans</p>
	<p>Dinner Rolls with Butter</p>

	<h3>Entrees</h3>
	<p>BBQ Ribs</p>
	<p>Penne Pasta with Grilled Portobellos, Spinach and Roasted Red Peppers in Basil Cream Sauce</p>


	<h3>Desserts</h3>
	<p>Banana Pudding</p>
	<p>Chocolate Bread Pudding</p>
	<p>Red Velvet Cake</p>



	<h3>Beverages</h3>
	<p>Water, Lemonade, Sweetened and Unsweetened Tea, Fruit Punch</p>
</div>