<h1 class="title">Reedy Creek Picnic Shelter #1</h1>
<h1 class="title">William B. Umstead State Park</h1>
<hr class="style-heart">

<div class="row venue-row-1">
	
	<div class="col-md-6">
		<div class=col-md-1>
			<ul class="venue">
				<li><i class="fa fa-pagelines fa-2x" aria-hidden="true"></i></li><br>
				<li><i class="fa fa-pagelines fa-2x" aria-hidden="true"></i></li><br>
				<li><i class="fa fa-pagelines fa-2x" aria-hidden="true"></i></li>
			</ul>
		</div>
		<div class="col-md-11">
			<ul class="venue">
				<li><h4>Parking is limited. Please carpool if possible.</h4></li>
				<li><h4>There are two entrances. Please make sure you go to the Reedy Creek Entrance.</h4></li>
				<li><h4>There is a 3-minute gravel road from the parking lot to the shelter, so please wear comfortable shoes.</h4></li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div id="venue-map-canvas"></div>
	</div>
</div>

<div class="row venue-row-2">
	<div class="col-md-6">
	</div>

	<div class="col-md-6">
		weather
	</div>
</div>



<script type="text/javascript">
      
  initMap();

</script>