<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>	
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<ul>
					<li>Designed by Ling Jin</li>
					<li><a href="#" class="btn btn-info">Contact me</a></li>
					<li><small style="color: #AEAEA2">Background Image | <a href="http://beyond-oddities.deviantart.com/art/Grunge-Texture-83852800" style="color: #AEAEA2">©JRMB-Stock</a></small></li>
				</ul>

			</div>			
		</div>
	</div>
</div>