<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>	
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<ul>
					<li>Designed by Ling Jin</li>
					<li><a href="#" class="btn btn-info">Contact me</a></li>
				</ul>
			</div>			
		</div>
	</div>
</div>